//- Application scenario
mixin application_scenario(title, contents, covers, cover_position)

  mixin show_contents(contents)
      ul.list-group.list-group-flush
          each content in contents
             li.list-group-item
                 .text.lh-lg #{content}

  mixin show_cover(covers, alt, width="100%", height="100%")
    - if (!covers) return;
    picture.rounded
        img(src=covers[0], alt=alt, width=width, height=height)
        if covers.length > 1
          each cover in covers
            - let extension = cover.split('.').pop();
            - let filetype = "image/" +  (extension === 'svg' ? extension + "+xml" : extension);
            case extension
              when "webp"
                source(srcset=cover, type=filetype, media="(min-width: 800px)")
              default
                source(srcset=cover, type=filetype)

  .card.mb-5.mb-xl-5
      .card-body.p-5
          .middle.h4.text-capitalize.text-muted.text-center #{title}
          case cover_position
              when "left"
                .row.mt-4
                  .col-xl-8
                      + show_cover(covers, title)
                  .col-xl-4
                      + show_contents(contents)
              when "right"
                .row.mt-4
                  .col-xl-4
                      + show_contents(contents)
                  .col-xl-8
                      + show_cover(covers, title)
              when "top"
                div
                  .m-md-5.text-center
                      + show_cover(covers, title)
                  + show_contents(contents)
              when "bottom"
                div
                  + show_contents(contents)
                  .m-md-5.text-center
                      + show_cover(covers, title)
